.messages {
  display: flex;
  justify-content: center;
  color: white;
  .container {
    width: 1400px;
    padding: 50px 0px;
    .link{
      color: wheat;
    }
    .title {
      display: flex;
      justify-content: space-between;

      button {
        background-color:#222831;
        border: 1px solid white;
        color: white;
        font-weight: 500;
        border: none;
        padding: 10px;
        cursor: pointer;
      }
    }

    table {
      width: 100%;
background-color: #393e46;

      tr {
        height: 100px;
        th {
          text-align: left;
        }
        td {
          padding: 10px;

          &:first-child {
            font-weight: 500;
          }
          
          &:nth-child(2),
          &:nth-child(3) {
            color: gray;
          }
        }

        button {
          background-color:transparent;
          border: 1px solid white ;
          color: white;
          padding: 10px;
          
          cursor: pointer;
          transition: all 0.3s;
        }
        button:hover{
          background-color: #393e46;
        }

        &.active {
          background-color: #222831;
          border-bottom: 1px solid white;
          
        }
      }
    }
  }
}
