.footer {
  background-color:white ;
  display: flex;
  justify-content: center;
  color:#222831;
  margin: 50px 0px;
  padding: 15px 5px;

  img {
    width: 24px;
    height: 24px;
  }

  .container {
    width: 1400px;
    .top {
      display: flex;
      justify-content: space-between;
      .item {
        display: flex;
        flex-direction: column;
        gap: 20px;
        h2 {
          font-size: 16px;
          color:white;
          text-align: center;
          background-color: #222831;
        }
        span {
          font-weight: 300;

        }
        span:hover{
          background-color: #222831;
           color: white;
         
          cursor: pointer;
          text-align: center;

        }
      }
    }

    hr {
      margin: 50px 0px;
      height: 0;
      border: 1px solid #ebe9e9;
           box-shadow:#cb22d7 0px 8px 24px,#cb22d7 0px 16px 56px,#cb22d7 0px 24px 80px;
    }
    .bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .left {
        width: max-content;
        display: flex;
        align-items: center;
        gap: 20px;

        span {
          font-size: 13px;
          white-space: nowrap;
        }
      }
      .right {
        width: max-content;
        display: flex;
        align-items: center;
        gap: 30px;

        .social {
          display: flex;
          gap: 20px;
          span{
font-size: 2rem;
          }
        }


        .link {
          cursor: pointer;
          display: flex;
          align-items: center;
          gap: 10px;
          span{
            color: white;
          }
        }
      }
    }
  }
}
