.myGigs {
  display: flex;
  justify-content: center;
  color: white;

  .container {
    width: 1400px;
    padding: 50px 0px;

    .title {
      display: flex;
      justify-content: space-between;
      margin: 1rem;
      button {
        background-color: white ;
        border: 1px solid #222831;
        color: #222831;
        font-weight: 500;
      
        padding: 10px;
        cursor: pointer;
        transition: all linear 0.3s;
      }
      button:hover{
        background-color: #393e46;
      color: white;
      }
    }

    table {
      width: 100%;
      background-color: #393e46;
      border-radius: 12px;
      tr {
        height: 50px;
        th {
          text-align: left;
        }
        td {

          sup{
            font-size: 12px;
          }
          
          .image {
            width: 50px;
            height: 25px;
            object-fit: cover;
          }

          .delete {
            width: 20px;
            cursor: pointer;
          }

        }
        &:nth-child(even) {
          background-color: #222831;
          
        }
      }
    }
  }
}
